body {
  background-color: black;
  cursor: url('images/cursor2.gif'), default;
}

.centerWelcome {
  background-image: url('http://www.geocities.ws/dopeycodes/backgrounds/stars-publ.bmp');
}

h1 {
  color: lightgreen;
}
h3 {
  color: lightgreen;
}
h5 {
  color: powderblue;
}
nav {
  border-style: solid;
}

a {
  color: pink;
}

nav {
  width: absolute;
  background-image: url('https://media.giphy.com/media/zW0n7AIWG4ka4/giphy.gif');
}

.projects{
  background-image: url('https://media2.giphy.com/media/1TpGKApbHmkZa/giphy.gif');
  height: 500px;
}

#actualPic{
  width: 460px;
  height: 309px;
  position: relative;
}

#actualPic img{
  position: relative;
  border-style: solid;
  border-color: pink;
  border-width: thick;
}


#cat{
  border-style: solid;
  border-width: thick;
  width: 35px;
  height: 15px;
  border-color: transparent;
  position: absolute;
  bottom: 80px;
  left: 320px;
}

#photo{
  border-style: solid;
  border-width: thick;
  width: 16px;
  height: 15px;
  border-color: transparent;
  position: absolute;
  bottom: 163px;
  left: 135px;
}

#spotify{
  border-style: solid;
  border-width: thick;
  width: 25px;
  height: 20px;
  border-color: transparent;
  position: absolute;
  bottom: 180px;
  left: 176px;
}

#clock{
  border-style: solid;
  border-width: thick;
  width: 30px;
  height: 45px;
  border-color: transparent;
  position: absolute;
  bottom: 240px;
  left: 208px;
}

#calendar{
  border-style: solid;
  border-width: thick;
  width: 30px;
  height: 45px;
  border-color: transparent;
  position: absolute;
  bottom: 230px;
  left: 70px;
}

#computer{
  border-style: solid;
  border-width: thick;
  width: 40px;
  height: 45px;
  border-color: transparent;
  position: absolute;
  bottom: 145px;
  left: 80px;
}

#trash{
  border-style: solid;
  border-width: thick;
  width: 20px;
  height: 30px;
  border-color: transparent;
  position: absolute;
  bottom: 158px;
  left: 315px;
}

#minion{
  border-width: thick;
  border-style: solid;
  border-color: transparent;
  width: 60px;
  height: 60px;
}

#linkedin{
  border-width: thick;
  border-style: solid;
  border-color: transparent;
  width: 60px;
  height: 60px;
}

#resume{
  border-width: thick;
  border-style: solid;
  border-color: transparent;
  width: 60px;
  height: 60px;
}
