body {
  background-color: black;
}

.centerWelcome {
  background-image: url('http://www.geocities.ws/dopeycodes/backgrounds/stars-publ.bmp');
}

#welcome{
}

h1 {
  color: lightgreen;
}
h3 {
  color: lightgreen;
}
h5 {
  color: powderblue;
}
nav {
  border-style: solid;
}

a {
  color: pink;
}

nav {
  width: absolute;
  background-image: url('https://media.giphy.com/media/zW0n7AIWG4ka4/giphy.gif');
}

.projects{
  background-image: url('https://media2.giphy.com/media/1TpGKApbHmkZa/giphy.gif');
  height: 500px;
}

#picParent{
  position: static;
}

#actualPic{
  position: static;
}

#interactivePic{
  position: absolute;
}

#test{
  border-style: solid;
  border-width: thin;
  width: 35px;
  height: 15px;
  border-color: pink;
  position: absolute;
  bottom: 85px;
  left: 800px;
}
