body {
  background-color: black;
}

.centerWelcome {
  background-image: url('http://www.geocities.ws/dopeycodes/backgrounds/stars-publ.bmp');
}

h1 {
  color: lightgreen;
}
h3 {
  color: lightgreen;
}
h5 {
  color: powderblue;
}
nav {
  border-style: solid;
}

a {
  color: pink;
}

nav {
  width: absolute;
  background-image: url('https://media.giphy.com/media/zW0n7AIWG4ka4/giphy.gif');
}

.projects{
  background-image: url('https://media2.giphy.com/media/1TpGKApbHmkZa/giphy.gif');
  height: 500px;
}

#actualPic{
  width: 460px;
  height: 309px;
  position: relative;
}

#actualPic img{
  position: relative;
  border-style: solid;
  border-color: pink;
  border-width: thick;
}


#test{
  border-style: solid;
  border-width: thick;
  width: 35px;
  height: 15px;
  border-color: transparent;
  position: absolute;
  bottom: 80px;
  left: 320px;
}
